/*@import url('https://fonts.googleapis.com/css?family=Raleway');*/

body {
  line-height: 1.8em;
  font-size: 16px;
  font-family: "raleway", sans-serif;
  margin: 0;
}

article {
  padding: 0 1em;
}

section {
  margin: 1em;
  padding: 1em;
}

header,
main,
footer {
  margin: 0 auto;
}

header {
  background: url(img/bg.jpg);
  background-size: cover;
  background-position: fixed;
  padding: 2em;
  text-align: center;
}

header section {
  color: white;
  margin: 0 auto;
}

header img {
  .circular 
    width: 150px;
    height: 150px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(img/avatar.jpg) no-repeat;
  
}

h1 {
  color: white;
  margin: 1em 0;
}

main {
  max-width: 1140px;
}

.course {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.course .title {
  -ms-flex: 0 0 33.3%;
  flex: 0 0 33.3%;
  max-width: 33%;
  color: #509e98;
  text-transform: uppercase;
  font-weight: bold;
}

.course .descrition {
  -ms-flex: 0 0 33.3%;
  flex: 0 0 66.6%;
  max-width: 66.6%
}

.course .descrition p {
  margin-top: 0;
  padding-left: 1em;
}

.school span {
  color: #a7b8bf;
}

footer {
  padding: 1em;
}
